.container{

    flex: auto;
    height: 800px;
    width:  1600px;
    align-items: center;
    flex-direction: row;
    border: 10px,10px;
    background-color: blueviolet;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;

}

.item{
height: 100px;
width: 200px;
border:   10px black;
background-color: rgb(138, 38, 38);
padding-left: 10px;
margin: 50px;

}